html, body{
    display: flex;
    margin: 0;
    height: 100%;
    width: 100%;
}

.imageContainer{
    width: 45%;
    height: auto;
    background-color: white;
    position: relative;
}

.imageLeft{
    display: flex;
    height: 100%;
}

.creditText{
    color:white;
    position: absolute;
    top: 25px;
}

.contentContainer{
    width: 100%;
    height: auto;
    background-color: black;
}

.middleDiv{
    text-align: center;
}